*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "csgo";
    src: url(/assets/fonts/cs_regular.ttf);
}

body{
    background-image: url('/assets/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "csgo";
    overflow: hidden;
}